# Summer Olympics Data Analysis Assignment

In [1]:
import pandas as pd
import numpy as np
from collections import Counter

In [2]:
df=pd.read_csv("summer.csv")
df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

### 1. In how many cities Summer Olympics is held so far?

In [3]:
cities=df['City'].unique()
print("Number of cities where Summer Olympics were held so far =",len(cities))

Number of cities where Summer Olympics were held so far = 22

### 2. Which sport is having most number of Gold Medals so far? (Top 5)

In [4]:
count=Counter(df[df['Medal']=='Gold']['Sport'])
print("Top 5 Sports having most number of Gold medals so far: \n")
for count,(sports,medals) in enumerate(count.most_common(5),1):
    print("{}.{:<10} : {:>5}".format(count,sports,medals))

Top 5 Sports having most number of Gold medals so far:

1.Aquatics   :  1421
2.Athletics  :  1215
3.Rowing     :   890
4.Gymnastics :   820
5.Fencing    :   552

### 3. Which sport is having most number of medals so far? (Top 5)

In [5]:
count=Counter(df['Sport'])
print("Top 5 Sports having most number of medals so far: \n")
for count,(sports,medals) in enumerate(count.most_common(5),1):
    print("{}.{:<10} : {:>5}".format(count,sports,medals))

Top 5 Sports having most number of medals so far:

1.Aquatics   :  4170
2.Athletics  :  3638
3.Rowing     :  2667
4.Gymnastics :  2307
5.Fencing    :  1613

### 4. Which player has won most number of medals? (Top 5)

In [6]:
count=Counter(df['Athlete'])
print("Top 5 Athletes having won most number of medals so far: \n")
for count,(athlete,medals) in enumerate(count.most_common(5),1):
    print("{}.{:<20} : {:>5}".format(count,athlete,medals))

Top 5 Athletes having won most number of medals so far:

1.PHELPS, Michael      :    22
2.LATYNINA, Larisa     :    18
3.ANDRIANOV, Nikolay   :    15
4.MANGIAROTTI, Edoardo :    13
5.ONO, Takashi         :    13

### 5. Which player has won most number Gold Medals of medals? (Top 5)

In [7]:
count=Counter(df[df['Medal']=='Gold']['Athlete'])
print("Top 5 Athletes having won most number of Gold medals so far: \n")
for count,(athlete,medals) in enumerate(count.most_common(5),1):
    print("{}.{:<20} : {:>5}".format(count,athlete,medals))

Top 5 Athletes having won most number of Gold medals so far:

1.PHELPS, Michael      :    18
2.NURMI, Paavo         :     9
3.LATYNINA, Larisa     :     9
4.SPITZ, Mark          :     9
5.LEWIS, Carl          :     9

### 6. In which year India won first Gold Medal in Summer Olympics?

In [8]:
india_gold=df[(df['Country']=='IND') & (df['Medal']=='Gold')]
first_gold=india_gold.iloc[0]
print("India won its first gold medal in {} Summer Olympics held at {} in {}'s {}".format(first_gold['Year'],first_gold['City'],first_gold['Gender'],first_gold['Sport']))

India won its first gold medal in 1928 Summer Olympics held at Amsterdam in Men's Hockey

### 7. Which event is most popular in terms on number of players? (Top 5)

In [9]:
count=Counter(df['Event'])
print("Top 5 Event having most number of players: \n")
for count,(event,players) in enumerate(count.most_common(5),1):
    print("{}.{:<18} : {:>5}".format(count,event,players))

Top 5 Event having most number of players:

1.Football           :  1497
2.Hockey             :  1422
3.Team Competition   :  1147
4.Basketball         :  1012
5.Handball           :   973

### 8. Which sport is having most female Gold Medalists? (Top 5)

In [10]:
count=Counter(df[(df['Medal']=='Gold') & (df['Gender']=='Women')]['Sport'])
print("Top 5 Sports having most number of female Gold medalists so far: \n")
for count,(sports,female_medalists) in enumerate(count.most_common(5),1):
    print("{}.{:<10} : {:>5}".format(count,sports,female_medalists))

Top 5 Sports having most number of female Gold medalists so far:

1.Aquatics   :   589
2.Athletics  :   389
3.Gymnastics :   268
4.Rowing     :   217
5.Volleyball :   166